@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--//================Slider section start==============//-->
<div class="slider-section">
    <div id="slider_one" class="owl-carousel owl-theme">
        <div class="item">
            <div class="slider-box">
                <figure>
                    <img src="~/Content/assets/images/slider/slider-one.jpg" alt="">
                </figure>
                <div class="slider-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content slider-right item-1">
                                    <h4>Chúng tôi đem đến những chú cá khỏe mạnh</h4>
                                    <h1>Cá vàng</h1>
                                    <a href="#" class="template-button">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-box">
                <figure>
                    <img src="~/Content/assets/images/slider/slider-two.jpg" alt="">
                </figure>
                <div class="slider-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content slider-right item-2">
                                    <h4>Chúng tôi đem đến những chú cá khỏe mạnh</h4>
                                    <h1>Huyết long</h1>
                                    <a href="#" class="template-button">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-box">
                <figure>
                    <img src="~/Content/assets/images/slider/slider-three.jpg" alt="">
                </figure>
                <div class="slider-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content item-3">
                                    <h4>Chúng tôi đem đến những chú cá khỏe mạnh</h4>
                                    <h1>Betta</h1>
                                    <a href="#" class="template-button">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-box">
                <figure>
                    <img src="~/Content/assets/images/slider/slider-four.jpg" alt="">
                </figure>
                <div class="slider-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content slider-right item-1">
                                    <h4>Chúng tôi đem đến những chú cá khỏe mạnh</h4>
                                    <h1>La hán</h1>
                                    <a href="#" class="template-button">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//================Mega collection section end==============//-->
<!--//================New arrival section start==============//-->
<div class="new-arrival-section padB60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="journey-heading">
                    <h4><span>Hàng mới về</span></h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="slider-two">
                    <div class="row">
                        <div id="new_arrival" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="arrival-image">
                                        <div class="arrival-image-overlay">
                                            <figure>
                                                <span class="overlay-two"></span>
                                                <img src="~/Content/assets/images/arrival/arrival1.jpg" alt="">
                                                <figcaption>
                                                    <ul class="cart-icon">
                                                        <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="arrival-image-content">
                                            <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                            <span>$90.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="arrival-image">
                                        <div class="arrival-image-overlay">
                                            <figure>
                                                <span class="overlay-two"></span>
                                                <img src="~/Content/assets/images/arrival/arrival2.jpg" alt="">
                                                <figcaption>
                                                    <ul class="cart-icon">
                                                        <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="arrival-image-content">
                                            <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                            <span>$90.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="arrival-image">
                                        <div class="arrival-image-overlay">
                                            <figure>
                                                <span class="overlay-two"></span>
                                                <img src="~/Content/assets/images/arrival/arrival3.jpg" alt="">
                                                <figcaption>
                                                    <ul class="cart-icon">
                                                        <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="arrival-image-content">
                                            <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                            <span>$90.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="arrival-image">
                                        <div class="arrival-image-overlay">
                                            <figure>
                                                <span class="overlay-two"></span>
                                                <img src="~/Content/assets/images/arrival/arrival5.jpg" alt="">
                                                <figcaption>
                                                    <ul class="cart-icon">
                                                        <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="arrival-image-content">
                                            <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                            <span>$90.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="arrival-image">
                                        <div class="arrival-image-overlay">
                                            <figure>
                                                <span class="overlay-two"></span>
                                                <img src="~/Content/assets/images/arrival/arrival5.jpg" alt="">
                                                <figcaption>
                                                    <ul class="cart-icon">
                                                        <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="arrival-image-content">
                                            <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                            <span>$90.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================New arrival section end==============//-->
<!--//================Best product section start==============//-->
<div class="best_product padTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="journey-heading">
                    <h4><span>mua nhiều</span></h4>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="product_menu">
                    <ul>
                        <li><a class="filter-1 wa-button hover-color active" data-filter="all">Tất cả</a></li>
                        <li><a class="filter-1 wa-button hover-color" data-filter=".cat1">Cá</a></li>
                        <li><a class="filter-1 wa-button hover-color" data-filter=".cat2">Phụ kiện</a></li>
                        <li><a class="filter-1 wa-button hover-color" data-filter=".cat3">Thức ăn</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 padT30">
                <div class="row">
                    <div id="MixItUp1">
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat1">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/product-1.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat1">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/product-2.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat1">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay best-product">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/product-3.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat1">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/product-4.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat2">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/best-1.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat2">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/best-2.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat2">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/best-3.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat2">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay best-product">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/best-4.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat3">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/watch-1.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat3">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/watch-2.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat3">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay best-product">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/watch-3.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat3">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="~/Content/assets/images/best-product/watch-4.jpg" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Tên sản phẩm</a></h4>
                                    <span>$90.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="product-button">
                                <a href="#" class="template-button">Xem tất cả</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Banner-two section end==============//-->
<!--//================Service section start==============//-->
<div class="service-section padTB60">
    <div class="container">
        <div class="row">
            <div class="service-section-content">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="free-shipping free-shipping-res">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <figure>
                                <img src="~/Content/assets/images/all-image/shipping-1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">miễn phí giao hàng</a></h4>
                            <p> giao hàng trên toàn quốc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="free-shipping free-shipping-res">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <figure>
                                <img src="~/Content/assets/images/all-image/shipping-2.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">hỗ trợ</a></h4>
                            <p>hố trợ nhiệt tình 24/24</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="free-shipping">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <figure>
                                <img src="~/Content/assets/images/all-image/shipping-3.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">đảm bảo uy tín</a></h4>
                            <p>cam kết chính hãng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Slider-two section end==============//-->
<!--//================Scroll section start==============//-->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="scroll-top">
            <div id="stop" class="scrollTop">
                <span><a href="#"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></span>
            </div>
        </div>
    </div>
</div>
<!--//================Scroll section end==============//-->