@model OnlineShop.Areas.Admin.Models.LoginModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login | Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Areas/Admin/Content/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/login/css/main.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm("LogIn", "LogIn", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    <span class="login100-form-title p-b-26">
                        Welcome
                    </span>
                    <span class="login100-form-title p-b-48">
                        <img src="~/Areas/Admin/Content/login/images/icons/favicon1.ico" />
                    </span>
                    @Html.AntiForgeryToken()

                    <div class="wrap-input100 validate-input" data-validate="Email hợp lệ: abc@gmail.com">
                        <span >Email</span>
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "input100" })
                        @*<span class="focus-input100" data-placeholder="Email"></span>*@
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Nhập password">
                        <span>Password</span>
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        @Html.PasswordFor(m => m.Password, new { @class = "input100" })
                        @*<span class="focus-input100" data-placeholder="Password"></span>*@
                    </div>
                    @Html.ValidationSummary(false, null, new { @class = "text-danger" })
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <a class="txt2" href="#">
                            Quên mật khẩu?
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Areas/Admin/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/Content/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/Content/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Areas/Admin/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/Content/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/Content/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Areas/Admin/Content/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/Content/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/Content/login/js/main.js"></script>

</body>

</html>

