<!--//================Slider section start==============//-->
<div class="slider-section">
    <div id="slider_one" class="owl-carousel owl-theme">
        <div class="item">
            <div class="slider-box">
                <figure>
                    <img src="~/Content/assets/images/slider/slider-one.jpg" alt="">
                </figure>
                <div class="slider-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content slider-right item-1">
                                    <h4>UY TÍN CHẤT LƯỢNG GIÁ RẼ</h4>
                                    <h1>Cá vàng</h1>
                                    <a href="#" class="template-button">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-box">
                <figure>
                    <img src="~/Content/assets/images/slider/slider-two.jpg" alt="">
                </figure>
                <div class="slider-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content slider-right item-2">
                                    <h4>UY TÍN CHẤT LƯỢNG GIÁ RẼ</h4>
                                    <h1>Huyết long</h1>
                                    <a href="#" class="template-button">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-box">
                <figure>
                    <img src="~/Content/assets/images/slider/slider-three.jpg" alt="">
                </figure>
                <div class="slider-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content item-3">
                                    <h4>UY TÍN CHẤT LƯỢNG GIÁ RẼ</h4>
                                    <h1>Betta</h1>
                                    <a href="#" class="template-button">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-box">
                <figure>
                    <img src="~/Content/assets/images/slider/slider-four.jpg" alt="">
                </figure>
                <div class="slider-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content slider-right item-1">
                                    <h4>UY TÍN CHẤT LƯỢNG GIÁ RẼ</h4>
                                    <h1>La hán</h1>
                                    <a href="#" class="template-button">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//================Mega collection section end==============//-->
