<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Journey Casual - Multipourpose Fashion HTML Template" />
    <meta name="author" content="desideals4u.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
    <title>N30 shop</title>
    <!-- Bootstrap -->
    <!-- Master Css -->
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/assets/css/color.css" rel="stylesheet">
    <link href="~/Content/assets/css/responsive.css" rel="stylesheet">

</head>
<body>
    <!--//================Preloder start==============//-->
    <div class="preloder-section">
        <div class="loaderArea">
            <div class="loader">
                <h1>NTQH </h1>
                <div class="loaderSquare"></div>
                <h2>Shop</h2>
            </div>
        </div>
    </div>
    <!--//================Preloder end==============//-->
    <!--//================Header section start==============//-->
    <header>
        <div class="main-hrader">
            <div class="container">
                <div class="row">
                    <div class="top-bar padTB20">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="top-bar-register padTB10">
                                <h6><a href="login.html">Đăng nhập</a><span></span> <a href="register.html">Đăng kí</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <figure class="logo">
                                <a href="index.html"><img src="~/Content/assets/images/logo.png" alt=""></a>
                            </figure>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="usd">
                                <select name="usd">
                                    <option value="USD">USD</option>
                                    <option value="VND">VND</option>
                                </select>
                                <select name="language">
                                    <option value="eng">Tiếng Việt</option>
                                    <option value="french">Tiếng Anh</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_menu">
            <div id="main-menu" class="wa-main-menu">
                <!-- Menu -->
                <div class="wathemes-menu relative">
                    <!-- navbar -->
                    <div class="navbar navbar-default theme-bg mar0" role="navigation">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="row">
                                        <div class="navbar-header">
                                            <!-- Button For Responsive toggle -->
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        <!-- Navbar Collapse -->
                                        <div class="navbar-collapse collapse">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <!-- nav -->
                                                <ul class="nav navbar-nav">
                                                    <li>
                                                        <a href="index.html" class="header-menu-one">Trang chủ</a>
                                                    </li>
                                                    <!-- /.dropdown -->
                                                    <li>
                                                        <a href="phukien.html" class="header-menu-one">Phụ kiện<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">Lọc</a></li>
                                                            <li><a href="#">Trang trí</a></li>
                                                            <li><a href="#">Chế phẩm nước</a></li>
                                                            <li><a href="#">Thiết bị chiếu sáng</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="cua-hang.html" class="header-menu-one">Cửa hàng<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a>
                                                        <ul class="dropdown-menu">
                                                            <li class="right-side">
                                                                <a href="#">Cá vàng</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Guppy</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Cá Betta</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Cá la hán</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Cá Koi</a>
                                                            </li>

                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="blog-style-1.html" class="header-menu-one">blog</a>
                                                    </li>
                                                    <li>
                                                        <a href="about-us.html" class="header-menu-one">Giới thiệu</a>
                                                    </li>
                                                    <li><a href="contact.html" class="header-menu-one">liên hệ</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- navbar-collapse -->
                                </div>
                                <!-- col-md-10 -->
                                <div class="col-md-2 col-sm-2 col-xs-6 shopping-cart-section">
                                    <div class="shopping-cart-icon">
                                        <ul>
                                            <li><a href="#" class="search-click"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                            <li><a href="cart.html"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- row -->
                        </div>
                        <!-- container -->
                    </div>
                    <!--navbar -->
                    <div id="search-open" class="top-search">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search">
                                    <a class="input-group-addon close-search search-close"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Menu -->
            </div>
        </div>
    </header>
    <!--//================Header section end==============//-->
    <!--//================Breadcrumb section start==============//-->
    <section>
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="page-heading">
                            <div class="page-header-heading padB10">
                                <h3>error</h3>
                            </div>
                            <div class="breadcrum-box">
                                <ul class="breadcrum">
                                    <li><a href="index-2.html">Trang chủ</a></li>
                                    <li class="active"><a href="#">error</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//================Breadcrumb section end==============//-->
    <!--//================404 section start==============//-->
    <div class="error-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-offset-3 col-xs-12 pull-right hidden-sm">
                        <div class="error-page-detail padTB100 text-center">
                            <h2>oops, page not found !</h2>
                            <img src="~/Content/assets/images/all-image/error.png" alt="">
                            <p>
                                Xin lỗi không thể tìm thấy trang trên máy chủ! Vui lòng tìm kiếm trang mong muốn trong thanh tìm kiếm bên dưới hoặc quay lại<a href="index.html"><i class="fa fa-home marL10" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class=" col-sm-8 col-offset-0 col-xs-12 pull-left hidden-lg hidden-md hidden-xs">
                        <div class="error-page-detail padTB100 text-center">
                            <h2>oops, page not found !</h2>
                            <img src="~/Content/assets/images/all-image/error.png" alt="">
                            <p>
                                Xin lỗi không thể tìm thấy trang trên máy chủ! Vui lòng tìm kiếm trang mong muốn trong thanh tìm kiếm bên dưới hoặc quay lại<a href="index.html"><i class="fa fa-home marL10" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//================404 section end==============//-->
    <!--//================Scroll section start==============//-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="scroll-top">
                <div id="stop" class="scrollTop">
                    <span><a href="#"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></span>
                </div>
            </div>
        </div>
    </div>
    <!--//================Scroll section end==============//-->
    <!--//================Footer section start==============//-->
    <div class="footer-section footer_fixed">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-box">
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="footer-box-two footer-first-box footer-res">
                                    <h5>Thông tin</h5>
                                    <ul class="footer-services">
                                        <li><a href="#">Giới thiệu</a></li>
                                        <li><a href="#">Dịch vụ</a></li>
                                        <li><a href="#">blog</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="footer-box-two footer-res">
                                    <h5>Bản đồ đường đi</h5>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.8297228054107!2d106.77710911436085!3d10.824339592289007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527e8d3174571%3A0xac2e55e1787a262f!2zMTUgxJDGsOG7nW5nIHPhu5EgMTg1LCBQaMaw4bubYyBMb25nIEIsIFF14bqtbiA5LCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1624427229814!5m2!1svi!2s"
                                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-7 col-xs-12">
                                <div class="footer-box-right footer-box-two">
                                    <h5>Nhận thông báo</h5>
                                    <p>Đăng nhập email để nhận những thông báo mới nhất</p>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter your email address" aria-describedby="basic-addon2">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                                    </div>
                                    <ul class="footer-social-icon">
                                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-last-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-8 col-xs-12">
                        <div class="footer-last-text">
                            <ul class="footer-menu">
                                <li><a href="#">about us</a></li>
                                <li><a href="#">help & FAQs </a></li>
                                <li><a href="#">privacy policy</a></li>
                            </ul>
                            <p>&copy; N30 shop</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <div class="footer-last-right">
                            <figure>
                                <img src="~/Content/assets/images/footer/payment-icons.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//================Footer section end==============//-->
    <!--//================Js file start==============//-->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugin/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/plugin/megamenu/js/hover-dropdown-menu.js"></script>
    <script src="~/Content/assets/plugin/megamenu/js/jquery.hover-dropdown-menu-addon.js"></script>
    <script src="~/Content/assets/plugin/jquery-ui/js/jquery-ui.js"></script>
    <script src="~/Content/assets/plugin/mixitup/js/jquery.mixitup.js"></script>
    <script src="~/Content/assets/plugin/fancyBox/js/jquery.fancybox.pack.js"></script>
    <script src="~/Content/assets/plugin/fancyBox/js/jquery.fancybox-media.js"></script>
    <script src="~/Content/assets/plugin/jquery-bxslider/js/jquery.bxslider.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB9P8720RmV-t4df_U1TxC-JJ_FKVcc6I"></script>
    <script src="~/Content/assets/js/main.js"></script>
    <!--//================Js file end==============//-->
</body>

<!-- Mirrored from preview.desideals4u.com/new-journey-casual/error-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 18 Sep 2018 02:35:37 GMT -->

</html>
