
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--//================Breadcrumb section start==============//-->
<section>
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading padTB100">
                        <div class="page-header-heading padB10">
                            <h3>Đăng kí</h3>
                        </div>
                        <div class="breadcrum-box">
                            <ul class="breadcrum">
                                <li><a href="index.html">Trang chủ</a></li>
                                <li class="active"><a href="#">Đăng kí</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Breadcrumb section end==============//-->
<!--//================Create account section start==============//-->
<div class="account-box padTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                <div class="registerBox">
                    <h4>Tạo tài khoản</h4>
                    <form class="register-form">
                        <h4>Thông tin cá nhân</h4>
                        <label>Họ</label>
                        <input type="text" placeholder="họ">
                        <label>Tên</label>
                        <input type="text" placeholder="tên">
                        <label>email</label>
                        <input type="text" placeholder="email">
                        <label>số điện thoại</label>
                        <input type="text" placeholder="số điện thoại">
                        <label>mật khẩu</label>
                        <input type="password" placeholder="mật khẩu">
                        <a href="#" class="template-button">Tạo tài khoản</a>
                        <p><a href="index.html"><i class="fa fa-long-arrow-left marR10" aria-hidden="true"></i>trở về cửa hàng</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Create account section end==============//-->
